body{
  font-size: 16px;
  background-color: #F5F5F5;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text{
  font-size: 6.25rem;
  color: #E6D2D6;
  font-family: Helvetica, sans-serif;
  padding: 2rem;;
}

.input-container{
  width: 36.375rem;
  background: white;
  border-bottom: 1px solid lightgray;
}

.main_input{
  width: 85%;
  font-size: 1.6rem;
  line-height: 2.1rem;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
}

.far{
  color: lightgray;
  font-size: xx-large;
  padding: 0.5rem 0.9rem;
  padding-right: 0rem;
}

::placeholder{
  color: lightgrey;
  font-style: italic;
}

.ul{
  background: white;
}

.li{
  display: flex;
  justify-content: space-between;
  line-height: 2.1rem;
  font-size: 1.6rem;
  border-bottom: 1px solid lightgray;
  padding: 0.8rem 1rem;
  width: 34.375rem;
  color: #4D4D4D
}

.deleteit{
  visibility: hidden;
  box-shadow: none;
  border: none;
  background: transparent;
  color:rgb(204, 154, 154);
  font-size: 1.2rem;
  outline: none;
}


.li:hover > .deleteit {
  visibility: visible;
}

.para-1{
  word-break: break-all;
}


.status{
  height: 1rem;
  width: 2rem;
  margin-left: 0rem;
}


.details-box{
width: 36.375rem;
display: flex;
background: white;
box-sizing: border-box;
padding: 1rem;
justify-content: space-between;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}


.editInput{
  line-height: 2.1rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
}

button{
  box-shadow: none;
  border: none;
  background: transparent;
  color:rgb(187, 11, 128);
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  padding-left: 3.5rem;
  padding-right: 1rem;
}

.items-text{
  font-size: 1.2rem;
  color:rgb(187, 11, 128);
  padding-right: 2rem;
}

.items-left {
  font-size: 1.2rem;
  color:rgb(187, 11, 128);
  padding-right: 0.4rem;
}