body {
  font-size: 16px;
  background-color: #f5f5f5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  font-size: 6.25rem;
  color: black;
  font-family: Helvetica, sans-serif;
  padding: 2rem;
}

.input-container {
  max-width: 600px;
  width: 100%;
  background: white;
  border-bottom: 1px solid lightgray;
}

.main_input {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.1rem;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
}

.search-box {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.1rem;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
}

/* .far{
  color: lightgray;
  font-size: xx-large;
  padding: 0.5rem 0.9rem;
  padding-right: 0rem;
} */

::placeholder {
  color: lightgrey;
  font-style: italic;
}

.ul {
  background: white;
  max-width: 600px;
  width: 100%;
}

.li {
  display: flex;
  justify-content: space-between;
  line-height: 2.1rem;
  font-size: 1.6rem;
  border-bottom: 1px solid lightgray;
  color: #4d4d4d;
  width: 100%;
}

.deleteit {
  visibility: hidden;
  box-shadow: none;
  border: none;
  background: transparent;
  color: black;
  font-size: 1.2rem;
  outline: none;
}

.li:hover > .deleteit {
  visibility: visible;
}

.para-1 {
  word-break: break-all;
}
.censortext {
  color: red;
}

.status {
  height: 1rem;
  width: 2rem;
  margin-left: 0rem;
  margin: auto 0;
}

.details-box {
  max-width: 600px;
  width: 100%;
  display: flex;
  background: white;
  box-sizing: border-box;
  padding: 1rem;
  justify-content: space-between;
}

.editInput {
  line-height: 2.1rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
}

.items-text {
  /* font-size: 1.2rem;
  color:rgb(187, 11, 128);*/
  padding-right: 2rem;
}

.items-left {
  /* font-size: 1.2rem;
  color:rgb(187, 11, 128);*/
  padding-right: 0.4rem;
}
